<div class="container">
    <h1 class="order-summary">Order Summary</h1>
    <div class="order-item">
        <p class="left">Price</p>
        <p class="right">$319.98</p>
    </div>
    <div class="order-item">
        <p class="left">Discount</p>
        <p class="right">$31.9</p>
    </div>
    <div class="order-item">
        <p class="left">Shipping</p>
        <p class="right">Free</p>
    </div>
    <div class="order-item">
        <p class="left">Coupon Applied</p>
        <p class="right">$319.98</p>
    </div>
    <div class="total-container">
        <p class="total-left">TOTAL</p>
        <p class="total-right">$288.08</p>
    </div>
    <div class="est-delivery">Estimated Delivery by<strong> 01 Feb 2021</strong></div>
    <input type="text" class="coupon" placeholder="Coupon Code"><br>
    <button class="checkout-button">PROCEED TO CHECKOUT</button>
</div>