<div class="container">
    <div class="item">
        <p>Product Title</p>
        <input type="text" placeholder="Title">
    </div>
    <div class="item">
        <p>Product Description</p>
        <textarea placeholder="Description"></textarea>
    </div>
    
    <div class="item">
      <select class="category">
        <option value="Masalas">Masalas</option>
        <option value="Salads">Salads</option>
        <option value="pickles">Pickles</option>
      </select>
          
    </div>
    
</div>