<div class="container">
    <div class="col-1">
        <p class="page-title"><span>Address &nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp; </span>Shipping <span>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp; Payment</span> </p>
        <div class="shipping-item">
            <p class="text">Contact</p>
            <div class="input-container"><input type="text" value="1131 Dusty Townline"><p>CHANGE</p></div>
        </div>
        <div class="shipping-item">
            <p class="text">Shipping Address</p>
            <div class="input-container"><input type="text" value="1131 Dusty Townline"><p>CHANGE</p></div>
        </div>
        <div class="shipment-container">
            <p class="s">Shipment Method</p>
            <div class="shipment-method-item">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.4" x="0.5" y="0.5" width="19" height="19" rx="9.5" fill="white" stroke="#17183B"/>
                </svg>
                <p class="price">Free</p>
                <p class="method">Regular Shipping</p>   
            </div>
            <div class="shipment-method-item">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.4" x="0.5" y="0.5" width="19" height="19" rx="9.5" fill="white" stroke="#17183B"/>
                </svg>
                <p class="price">$0.50</p>
                <p class="method">Priority Shipping</p>   
            </div>
        </div>
    </div>    
    <div class="col-2">
        <app-order-summary-template class="col-2"></app-order-summary-template>
    </div>
</div>