.container{
    position: absolute;
    top: 2800px;
    text-align: center;
    width: auto;
    margin: auto;
    left: 0;
    right: 0;
}
h5{
width: fit-content;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
/* identical to box height, or 286% */

text-align: center;
letter-spacing: 2.1px;
text-transform: uppercase;
margin: auto;

color: #8D448B;
}
h2{
    
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
width: fit-content;
margin: auto;
/* or 153% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.5px;

color: #0F2137;
}

.features-container{

     display:grid;
     grid-template-columns: 25% 25% 25% 25%;
     align-items: center;
     width: 80%;
     margin: auto;
     margin-top: 80px;
     text-align: center;
}
.feature{
    margin: auto;
    width: 80%;
    text-align: left;   
}
.feature-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #0F2137;
}
.feature-description{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    color: #343D48;
}