<div class="container">
    <div class="col-1">
        <div class="text-container">
                <p class="cart-title">Cart</p>
                <p class="no-of-items">2 items</p>
        </div>
        <app-cart-item-template class="cart-item"></app-cart-item-template>
        <app-cart-item-template class="cart-item"></app-cart-item-template>
        <app-cart-item-template class="cart-item"></app-cart-item-template>
        <app-cart-item-template class="cart-item"></app-cart-item-template>
    </div>
    <div class="col-2">
        <app-order-summary-template class="col-2"></app-order-summary-template>
    </div>
</div>