
.container{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    align-items: flex-start;
    justify-content: space-between;
}
.col-2{
    width: 280px;
}
.col-1{
    width: 60%;
    text-align:left;
}
.cart-item{
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.209);
    width: 100%;
}
.text-container{
    display: flex;
    align-items:baseline;
}
.text-container .cart-title{
    font-family: 'Proxima-Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    /* identical to box height */
margin-top: 0;
    letter-spacing: 0.02em;

    /* Dark */

    color: #17183B;
}
.no-of-items{
    margin-left: 20px;
    font-family: 'Proxima-Nova';
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
/* identical to box height */


/* Dark */

color: #17183B;

opacity: 0.4;

}
