<div class="container">
    <div class="col-1">
        <p class="page-title">Address<span> &nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp; Shipping &nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp; Payment</span> </p>
        <app-adress-template class="address-item"></app-adress-template>
        <app-adress-template class="address-item"></app-adress-template>
        <div class="add-new-address">+ ADD NEW ADDRESS</div>
    </div>
    <div class="col-2">
        <app-order-summary-template class="col-2"></app-order-summary-template>
    </div>
</div>