<div class="container">
    <div class="address-container">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.4" x="0.5" y="0.5" width="19" height="19" rx="9.5" fill="white" stroke="#17183B"/>
        </svg>            
        <div class="text-container">
            <div class="title-container">
                <h1>Huzefa Bagwala</h1>
                <h4>Home</h4>
            </div>
            <p class="street">1131 Dusty Townline, Jacksonvile, TX 40322</p>
            <p class="contact"><span>Contact - </span>(936)361-0310</p>
        </div>
    </div>
    <div class="edit-and-remove-container">
        <p class="edit">EDIT</p>
        <p class="remove">REMOVE</p>
    </div>
</div>