/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding-left: 0;
}

@font-face {
    font-family: Satoshi;
    src: url("/assets/Satoshi_Complete/Satoshi-Variable.ttf");
}

@font-face {
    font-family: Proxima-Nova;
    src: url("/assets/Proxima Nova Font.otf");
}