<div class="container">
    <div class="col-1">
            <img src="/assets/whopper.png" class="product-image">
            <div class="text-container">
                <h2>Osmond Armchair</h2>
                <h3><span>color &nbsp; &nbsp;</span>Gunnared biege</h3>
                <div class="quanity-and-remove-container">
                    <div class="quantity-container">
                        <svg width="8" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.16675 1H12.8334" stroke="#17183B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p class="quantity">1</p>
                        <svg width="11" height="11" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 4.16675V15.8334" stroke="#17183B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.16675 10H15.8334" stroke="#17183B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                    </div>
                    <p class="remove">REMOVE</p>
                </div>
            </div>
        
    </div>
    <p class="col-2">$169.99</p>
</div>